@charset "UTF-8";

@media screen and (max-width: 1719px) {
	#content_wrap {
		padding: 0 5%;
	}
}

#content_wrap {
	/*min-height: 1200px;*/
}

.content_title {
	height: 70px;
	width: 90%;
}

.content_title>h2, .content_title>div {
	float: left;
	margin: 19px 20px 19px 0;
}

.content_title>div>ul {
	display: flex;
	line-height: 32px;
	gap: 20px;
}

.content_nav {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	height: 70px;
}

.on {
	display: block
}

.off {
	display: none;
}

.content_nav_left {
	float: left;
	line-height: 70px;
}

.content_nav_right {
	float: right;
	line-height: 70px;
}

.content_nav_left>a {
	padding-left: 30px;
	font-size: 14px;
	color: #111;
	background: #fff url("../img/svg/filter.svg") 0% center no-repeat;
	background-size: 30px 20px;
}

.content_nav_right>div {
	padding-right: 40px;
	cursor: pointer;
	height: 70px;
	position: relative;
}

.content_section {
	/*height: 540px;*/
}

.main_section {
	margin: 20px 0;
	min-height: 540px;
}

.main_section>ul {
	display: flex;
	/*flex-wrap: nowrap;*/
	flex-wrap: wrap;
	overflow: hidden;
}

.main_section>ul>li:nth-child(n) {
	/*flex-grow: 1;*/
}

.main_section>ul>li:first-child {
	margin-right: 10px;
}

.main_section>ul>li:not(:first-child, :last-child) {
	margin-right: 10px;
}

.thumbnail {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}

.description {
	width: 300px;
	height: 90px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 10px;
}

.description .name {
	margin: 5px 0;
}

.description .price {
	margin-bottom: 5px;
}

.description .price>li {
	display: inline-block;
}

.description .color {
	height: 10px;
	margin-top: 5px;
	overflow: hidden;
}

.description .color>span {
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
}

.description .color>span:first-child {
	background-color: #000;
}

.description .color>span:last-child {
	background-color: #fffff0;
}

.sale_txt {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #3a1150;
	color: #fff;
	font-size: 10px;
	border-radius: 0 0 0 5px;
}

.box {
	width: 100%;
}

.prdImg {
	width: 300px;
	height: 400px;
}

.prdImg>a {
	display: block;
	height: 210px;
}

.prd_more ul li .likeButton>button {
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: #fff;
	font-size: 10px;
}

.prd_more ul li .likeButton>button>img {
	filter: brightness(0);
	width: 10px;
	vertical-align: middle;
	line-height: 10px;
}

.prd_more ul li .likeButton>button>span {
	vertical-align: middle;
	line-height: 10px;
}
.page_section {
	margin: 10px 0;
}
.page_section>ul {
	display: flex;
	justify-content: center;
}

.page_section>ul>li, .page_section>ul>li>a>img {
	width: 21px;
	height: 21px;
}

.page_section>ul>li, .page_section>ul>li>a {
	color: #939393;
	font-size: 14px;
	text-align: center;
}

.page_section>ul>li:hover {
	background-color: #f0f2f2;
}