@charset "UTF-8";
body { margin: 0; }
a { text-decoration: none; cursor: pointer; color: inherit; }
ul { margin: 0; padding: 0; }
li { list-style-type: none; }
img { max-width: 100%; }

#header_wrap {
    position: relative;
    width: 100%;
    min-height: 110px;
    margin: 0 auto;
}

#footer_wrap {
    position: relative;
    width: 100%;
    min-height: 630px;
    margin: 0 auto;
}

#main_content {
    width: 1440px;
    margin: 0 auto;
}