<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
<select id="list" resultType="vo.ProductVO">
select * from product
</select>
<select id="kcode_list" resultType="vo.ProductVO">
select * from product
<if test='select_kcode!=null'>
where kcode like '%'|| #{select_kcode, jdbcType=VARCHAR}||'%'
</if>
</select>
</mapper>